canvas[battlefield] {
    border: 1px solid #000000;
}

.hello, .step1, .step2, .step3 {
    margin-top: 40px;
}

.bot-row {
    height: 50px;
}

.bot-row-hover {
    display: none;
}

.bot-row:hover .bot-row-hover {
    display: block;
}
.bot-row:hover .bot-row-out {
    display: none;
}

select.text-capitalize option {
    text-transform: capitalize;
}

.list-group.challenge-list > .list-group-item {
    min-height: 60px;
}
.list-group.challenge-list > .list-group-item:hover {
    background-color: #EEEEEE;
    cursor: pointer;
}
.list-group.challenge-list > .list-group-item.focused:hover {
    background-color: #ffffff;
    cursor: auto;
}
.list-group.challenge-list > .list-group-item.focused {
    margin-top: 20px;
    margin-bottom: 20px;
}

.list-group.challenge-list > .list-group-item:not(.focused) {
    margin-left: 30px;
    /*margin-right: 30px;*/
}

.list-group.challenge-list > .list-group-item:hover .on-hover {
    display: block;
}
.list-group.challenge-list > .list-group-item:hover .on-out {
    display: none;
}

.list-group.challenge-list > .list-group-item .on-hover {
    display: none;
}

.CodeMirror {
    border: 1px solid #eee;
    height: 100% !important;
}

.winning-conditions {
    padding-left: 20px;
}

.winning-conditions li {
    padding: 4px 4px 4px 2px;
}
.winning-conditions li .btn {
    padding: 2px 0 2px 0px;
    width: 23px;
    display: none;
}
.winning-conditions li:hover .btn {
    display: block;
}

.winning-conditions li:hover {
    cursor: pointer;
    background-color: #EEEEEE;
}

.add-condition-btn {
    border: 1px dashed gray;
    text-align: center;
    font-size: large;
    font-weight: bold;
    padding: 1px 0 1px 0;
}
.add-condition-btn:hover {
    cursor: pointer;
    background-color: #EEEEEE;
}