<div class="row">
    <div class="col-lg-12 text-center">
        <p class="text-muted">Choose your best bot, create a challenge as you desired and publish to the whole world</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading text-capitalize">
                <h4><a href="" ng-click="showCodeEditor = !showCodeEditor">Your Champion - {{myChampion.name}}</a></h4>
            </div>

            <div class="panel-body" ng-if="showCodeEditor">
                <bw-editor bots="bots" current-bot="myChampion" change-bot="changeBot(bot)"></bw-editor>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-3">

        <div class="panel panel-danger">
            <div class="panel-heading text-capitalize">
                Opponent's side
            </div>

            <div class="panel-body">
                <div class="form-group">
                    <label>Test Bot for opponent</label>
                    <select class="form-control" ng-model="oppoBot" ng-options="b as b.name for b in bots"></select>
                </div>
                <label>Opponent's Units</label>
                <units-selector units="oppoUnits"></units-selector>
            </div>
        </div>
    </div>
    <div class="col-lg-6 text-center">
        <div width="500" height="500" battlefield="game" options="options"></div>
    </div>
    <div class="col-lg-3">

        <div class="panel panel-success">
            <div class="panel-heading text-capitalize">
                Your side
            </div>

            <div class="panel-body">
                <div class="form-group">
                    <label>Your Champion Bot</label>
                    <select class="form-control" ng-model="myChampion" ng-options="b as b.name for b in bots"></select>
                </div>
                <label>Your Units</label>
                <units-selector units="myUnits"></units-selector>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                <button class="btn btn-lg btn-success" ng-click="showPublishConfirm()"><i class="glyphicon glyphicon-upload"></i> Publish this challenge</button>
            </div>
        </div>

    </div>
</div>


<div class="row">
    <div class="col-lg-12 text-center">
        <div style="width: 400px; display: inline-block">

            <div class="btn-group btn-group-lg" >
                <button class="btn btn-primary" ng-click="testFight()">Start Test Fight</button>
                <button class="btn"
                        ng-class="options.consume == 3 ? 'btn-primary' : 'btn-default'"
                        ng-click="options.consume = options.consume == 3 ? null : 3"
                        ><span class="glyphicon glyphicon-forward"></span></button>
            </div>
        </div>

    </div>
</div>
