<!DOCTYPE html>
<html lang="en" ng-app="bw.main.app">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>BotwarJS</title>


    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="css/fancybox/jquery.fancybox.css">
    <link rel="stylesheet" href="css/style.css">

</head>
<body class="bs-docs-home">

    <!-- Docs master nav -->
    <header class="navbar navbar-static-top navbar-default" id="top" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a ui-sref="hello" class="navbar-brand">Botwar JS</a>
            </div>
            <nav class="collapse navbar-collapse bs-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li ng-class="{active: $state.current.name == 'skirmish'}">
                        <a ui-sref="skirmish">Skimish</a>
                    </li>
                    <li ng-class="{active: $state.current.name == 'campaign'}">
                        <a ui-sref="campaign">Campaign</a>
                    </li>
                    <li ng-class="{active: $state.current.name == 'challenge'}">
                        <a ui-sref="challenge">Challenges</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right" bw-main-header>
                    <li class="dropdown" ng-if="ready() && userName()">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span ng-bind="userName()"></span> <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="" ng-click="signout()">Sign out your google account</a></li>
                        </ul>
                    </li>
                    <li ng-if="ready() && !userName()"><a href="" ng-click="signin()">Sign-in</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Page content of course! -->
    <main id="content" role="main" >
        <div class="container">
            <ui-view></ui-view>
        </div>
    </main>

    <footer class="footer">
        <div class="container">
            <p class="text-muted footer-text">Botwar JS is created by <a href="http://quanla.github.io">Quân Lê</a></p>
        </div>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.js"></script>
    <script src="/js/angular-ui-router.min.js"></script>
    <script src="js/ui-bootstrap-tpls-0.13.0.min.js"></script>

    <script src="js/common-utils.js"></script>
    <script src="js/math-utils.js"></script>

    <script src="js/pixi.min.js"></script>

    <!-- battlefield-js start -->
    <script src="/botwar/angular/battlefield/battle-control.js"></script>
    <script src="/botwar/angular/battlefield/battle-status.js"></script>
    <script src="/botwar/angular/battlefield/battlefield.js"></script>
    <script src="/botwar/angular/battlefield/game/bot/bot-control.js"></script>
    <script src="/botwar/angular/battlefield/game/bot/bot-runner.js"></script>
    <script src="/botwar/angular/battlefield/game/game.js"></script>
    <script src="/botwar/angular/battlefield/game/unit-dynamics.js"></script>
    <script src="/botwar/angular/battlefield/game/unit-fighting-style.js"></script>
    <script src="/botwar/angular/battlefield/game/unit-physics.js"></script>
    <script src="/botwar/angular/battlefield/renderer/renderer.js"></script>
    <script src="/botwar/angular/battlefield/renderer/unit/land-unit.js"></script>
    <script src="/botwar/angular/battlefield/renderer/unit/sc-unit.js"></script>
    <script src="/botwar/angular/battlefield/renderer/unit/unit.js"></script>
    <script src="/botwar/angular/battlefield/units/all-units.js"></script>
    <script src="/botwar/angular/battlefield/units/archer.js"></script>
    <script src="/botwar/angular/battlefield/units/arrow.js"></script>
    <script src="/botwar/angular/battlefield/units/footman.js"></script>
    <script src="/botwar/angular/battlefield/units/grunt.js"></script>
    <script src="/botwar/angular/battlefield/units/knight.js"></script>
    <script src="/botwar/angular/battlefield/units/peasant.js"></script>
    <script src="/botwar/angular/battlefield/units/zerling.js"></script>
    <!-- battlefield-js end -->

    <!-- main-js start -->
    <script src="/botwar/angular/main/botwar-app.js"></script>
    <script src="/botwar/angular/main/campaign/campaign.js"></script>
    <script src="/botwar/angular/main/campaign/mission1.js"></script>
    <script src="/botwar/angular/main/campaign/mission2.js"></script>
    <script src="/botwar/angular/main/campaign/mission3.js"></script>
    <script src="/botwar/angular/main/challenge/api/challenge-api.js"></script>
    <script src="/botwar/angular/main/challenge/challenge-setup.js"></script>
    <script src="/botwar/angular/main/challenge/challenge-taker/challenge-taker.js"></script>
    <script src="/botwar/angular/main/challenge/challenge.js"></script>
    <script src="/botwar/angular/main/challenge/condition-selector/condition-selector.js"></script>
    <script src="/botwar/angular/main/challenge/create-challenge/create-challenge.js"></script>
    <script src="/botwar/angular/main/challenge/list/challenge-list.js"></script>
    <script src="/botwar/angular/main/challenge/preview/challenge-preview.js"></script>
    <script src="/botwar/angular/main/challenge/win-conditions.js"></script>
    <script src="/botwar/angular/main/common/battle-setup.js"></script>
    <script src="/botwar/angular/main/common/common-model.js"></script>
    <script src="/botwar/angular/main/common/unit-position.js"></script>
    <script src="/botwar/angular/main/common/units-selector.js"></script>
    <script src="/botwar/angular/main/header/header.js"></script>
    <script src="/botwar/angular/main/hello/hello.js"></script>
    <script src="/botwar/angular/main/ide/ide.js"></script>
    <script src="/botwar/angular/main/main.js"></script>
    <script src="/botwar/angular/main/plugin/bw-fancybox.js"></script>
    <script src="/botwar/angular/main/plugin/code-mirror.js"></script>
    <script src="/botwar/angular/main/plugin/google-signin.js"></script>
    <script src="/botwar/angular/main/security/security.js"></script>
    <script src="/botwar/angular/main/skirmish/skirmish.js"></script>
    <script src="/botwar/angular/main/user/user.js"></script>
    <!-- main-js end -->

    <!-- sample-js start -->
    <script src="/botwar/angular/sample/sample.js"></script>
    <!-- sample-js end -->

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.0.0/codemirror.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.0.0/codemirror.min.js"></script>
    <script src="js/codemirror_javascript.js"></script>
    <script src="js/jquery.fancybox.pack.js"></script>

</body>
</html>
