<div class="row">
    <div class="col-lg-3" >
        <div class="row">
            <div class="col-lg-12 col-xs-3">
                <select class="form-control" ng-options="spriteName as (spriteName[0]+'/'+spriteName[1]) for spriteName in spriteNames" ng-model="view.spriteName"></select>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-xs-3">
                <button class="btn btn-link text-capitalize" ng-click="showSpriteSheet(view.unitType, true)">{{view.unitType}} Sprite Sheet Grid</button>
            </div>
            <div class="col-lg-12 col-xs-3">
                <button class="btn btn-primary text-capitalize" ng-if="sse.grid != null" ng-click="saveSpriteSheet()">Save Sprite Sheet</button>
                <button class="btn btn-primary text-capitalize" ng-if="sse.grid == null" ng-click="createSpriteSheet()">Create Sprite Sheet</button>
            </div>
        </div>

        Line names:
        <div class="row">
            <div class="col-lg-12 col-xs-3" ng-repeat="lineName in lineNames track by $index">
                <div class="form-group" >
                    <input class="form-control" ng-model="lineNames[$index]">
                </div>
            </div>
        </div>

    </div>
    <div class="col-lg-9 text-center">
        <div width="600" height="1000" sprite-sheet-editor="sse" ></div>
    </div>
</div>