<div class="row">
    <div class="col-lg-6">
        <h3 ng-bind="::challenge.title"></h3>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-lg-3 text-center">
        <div class="panel panel-default text-left">
            <div class="panel-body">
                <div class="form-group">
                    <label class="control-label">From: </label>
                    <div class="form-control-static">
                        <span ng-bind="challenge.fromName"></span>
                        <span class="text-muted" ng-bind="'(' + challenge.fromEmail + ')'"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Enemy Bot Name:</label>
                    <div class="form-control-static" ng-bind="::challenge.battleSetup.sides[1].bot.name"></div>
                </div>
                <div class="form-group" ng-if="::challenge.description">
                    <label class="control-label">More Info:</label>
                    <div class="form-control-static" ng-bind="::challenge.description"></div>
                </div>

            </div>
        </div>
        <button class="btn btn-primary" ng-click="testBattle(bots[0])">Try battle with "{{bots[0].name}}"</button>
    </div>

    <div class="col-lg-6 text-center">
        <div width="500" height="500" battlefield="game"></div>
    </div>

    <div class="col-lg-3 text-center">
        <div class="btn-group" >
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                Try battle using your bot
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li ng-repeat="bot in bots"><a href="" ng-click="testBattle(bot)" ng-bind="::bot.name"></a></li>
            </ul>
        </div>

        <br/>
        <br/>

        <a class="btn btn-link" ui-sref="challenge-taker({challengeId: challenge.id})">Bring battle to code Editor</a>
        <br/>
        <br/>

        <button class="btn btn-default" ng-click="response()">Response to this challenge</button>
    </div>
</div>
