<table class="table" >
    <colgroup>
        <col width="20">
        <col width="100">
        <col width="100">
    </colgroup>
    <tr class="bot-row" ng-repeat="unit in units">

        <td>
            <div class="text-capitalize" ng-bind="::unit.type"></div>
        </td>

        <td class="text-center">
            <div class="bot-row-hover">
                <button class="btn btn-sm btn-default" ng-click="removeUnit(unit)">-</button>
                <button class="btn btn-sm btn-default" ng-click="addUnit(unit)">+</button>
            </div>
            <div class="bot-row-out">
                x
            </div>
        </td>

        <td class="text-right" ng-bind="unit.count">
        </td>
    </tr>
</table>