<div class="row">
    <div class="col-lg-3">

        <div class="panel" ng-repeat="side in battleSetup.sides" ng-class="side.color == 'blue' ? 'panel-primary' : 'panel-danger'">
            <div class="panel-heading text-capitalize" ng-bind="::side.color + ' side'">
            </div>

            <div class="panel-body">
                <div class="form-group">
                    <label>Bot</label>
                    <select class="form-control" ng-model="side.bot" ng-options="b as b.name for b in bots"></select>
                </div>
                <label>Units</label>
                <units-selector units="side.units"></units-selector>
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading text-capitalize">Battle Setup
            </div>

            <div class="panel-body">
                <div class="form-group">
                    <label class="control-label">Winning Condition</label>
                    <select class="form-control">
                        <option option-cond="battleSetup.continuous: false">Last man stand</option>
                        <option option-cond="battleSetup.continuous: true">Continuous</option>
                    </select>

                </div>

                <button class="btn btn-default" ng-click="resetBattleSetup()">Reset Battle Setup</button>
            </div>
        </div>

    </div>
    <div class="col-lg-9 text-center">
        <div battlefield="game" options="options"></div>

        <battle-status game="game"></battle-status>



        <div>
            <br/>
            <battle-control game="game" start="startGame()" options="options"></battle-control>
        </div>
    </div>
</div>

