<div class="row">
    <div class="col-lg-3">

        <div class="panel" ng-repeat="side in battleSetup.sides" ng-class="side.color == 'blue' ? 'panel-primary' : 'panel-danger'">
            <div class="panel-heading text-capitalize" ng-bind="::side.color + ' side'">
            </div>

            <div class="panel-body">
                <div class="form-group">
                    <label>Bot</label>
                    <select class="form-control" ng-model="side.bot" ng-options="b as b.name for b in bots"></select>
                </div>
                <label>Units</label>
                <units-selector units="side.units"></units-selector>
            </div>
        </div>

        <label>
            <input type="checkbox" ng-model="battleSetup.continuous"> Fight continuously
        </label>
    </div>
    <div class="col-lg-9 text-center">
        <div width="560" height="560" battlefield="game" options="options"></div>

        <button class="btn btn-sm"
                ng-class="options.consume == 3 ? 'btn-primary' : 'btn-default'"
                ng-click="options.consume = options.consume == 3 ? null : 3"><span class="glyphicon glyphicon-forward"></span></button>
    </div>
</div>


<div class="row">
    <div class="col-lg-12 text-center">
        <br/>
        <button class="btn btn-lg btn-primary" ng-click="startGame()" ng-class="{ disabled: game==null }">Start The Game!</button>
    </div>
</div>
