<div class="row">
    <div class="col-lg-3">

        <div class="panel" ng-repeat="side in battleSetup.sides" ng-class="side.color == 'blue' ? 'panel-primary' : 'panel-danger'">
            <div class="panel-heading text-capitalize" ng-bind="::side.color + ' side'">
            </div>

            <div class="panel-body">
                <div class="form-group">
                    <label>Bot</label>
                    <select class="form-control" ng-model="side.bot" ng-options="b as b.name for b in bots"></select>
                </div>
                <label>Units</label>
                <units-selector units="side.units"></units-selector>
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading text-capitalize">Battle Setup
            </div>

            <div class="panel-body">
                <div class="form-group">
                    <label class="control-label">Winning Condition</label>
                    <select class="form-control">
                        <option option-cond="battleSetup.continuous: false">Last man stand</option>
                        <option option-cond="battleSetup.continuous: true">Continuous</option>
                    </select>

                </div>

                <button class="btn btn-default" ng-click="resetBattleSetup()">Reset Battle Setup</button>
            </div>
        </div>

    </div>
    <div class="col-lg-9 text-center">
        <div battlefield="game" options="options"></div>

        <span class="text-primary well well-sm">
            Blue:
            <span battle-point="game:blue"></span>
        </span>
        &nbsp;
        <span class="text-danger well well-sm">
            Red:
            <span battle-point="game:red"></span>
        </span>
        &nbsp;
    </div>
</div>


<div class="row">
    <div class="col-lg-12 text-center">
        <br/>
        <div class="btn-group btn-group-lg">

            <button class="btn btn-default" ng-click="startGame()"
                    ><span class="glyphicon glyphicon-repeat"></span></button>

            <button class="btn btn-default" style="width: 200px"
                    ng-click="game.isFinished ? startGame() : (options.pause = !options.pause)">
                <span class="glyphicon" ng-class="game.isFinished || options.pause ? 'glyphicon-play' : 'glyphicon-pause'"></span>
            </button>
            <button class="btn"
                    ng-class="options.consume == 3 ? 'btn-primary' : 'btn-default'"
                    ng-click="options.consume = options.consume == 3 ? null : 3"><span class="glyphicon glyphicon-forward"></span></button>
        </div>
    </div>
</div>
