<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading text-capitalize">
                <a href="" ng-click="showCodeEditor = !showCodeEditor"><span class="lead">Your Bot Code</span> <span class="text-muted">- Click to expand</span></a>

            </div>

            <div class="panel-body" ng-if="showCodeEditor">
                <bw-editor bots="bots"></bw-editor>
            </div>
        </div>
    </div>
</div>


<bw-skirmish-battlefield></bw-skirmish-battlefield>