
<div class="row">
    <div class="col-lg-6">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">Bot name:</div>

                <input class="form-control" ng-model="bot.name">
            </div>
        </div>
    </div>
    <div class="col-lg-2 text-right">
        <a class="btn btn-link" href="doc/guide.html" target="_blank">Documentation</a>
    </div>
    <div class="col-lg-4 text-right">

        <div class="form-group">
            <div class="input-group">
                <select class="form-control" ng-model="bot" ng-options="b as b.name for b in bots"></select>

                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span class="glyphicon glyphicon-cog"></span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li><a href="" ng-click="createNewBot()">[+] Add new</a></li>
                        <li><a href="" ng-click="deleteBot()">[-] Remove this bot</a></li>
                    </ul>
                </div><!-- /btn-group -->

            </div>
        </div>


    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div code-mirror="bot.code" style="height: 500px"></div>
    </div>
</div>