<div class="modal-header "><h4 class="modal-title">Add winning condition</h4></div>
<div class="modal-body">
    <div class="list-group">
        <a href="" class="list-group-item" ng-class="{active: modal.focus==cond}" ng-repeat="cond in conds" ng-click="modal.focus = cond">
            <h4 class="list-group-item-heading" ng-bind="::getName(cond)"></h4>
            <p class="list-group-item-text" ng-bind="::getDescription(cond)"></p>
        </a>
    </div>
</div>
<div class="modal-footer ">
    <a class="btn btn-default" ng-click="cancel()"><i class="glyphicon glyphicon-remove"></i> Cancel</a>
    <button class="btn btn-primary" ng-click="accept()" ng-class="{disabled: modal.focus == null}"><i class="glyphicon glyphicon-ok"></i> Add Condition</button>
</div>
