
<div class="panel panel-default">
    <div class="panel-heading text-capitalize">
        Winning Conditions
    </div>

    <div class="panel-body">

        <div>
            <div class="winning-conditions">
                <div class="winning-condition" ng-repeat="cond in setup.winningConditions">
                    - <span ng-class="{del: !wouldApply(cond)}">{{getName(cond)}}</span>
                    <button class="btn btn-sm btn-default pull-right" ng-click="remove(cond)">-</button>
                </div>
            </div>
            <div class="add-condition-btn">+</div>
        </div>
    </div>
</div>