<div class="panel panel-default">
    <div class="panel-heading">Challenge Preview</div>
    <div class="panel-body">
        <div battlefield="game" scale="0.7"></div>

        <div class="row">
            <div class="col-lg-4 text-right"><label class="control-label">Enemy Bot:</label></div>
            <div class="col-lg-8" ng-bind="::challenge.challengeSetup.sides[1].bot.name"></div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-lg-6">
                <button class="btn btn-block btn-primary dropdown-toggle" ng-click="tryBattle()" data-toggle="dropdown" aria-expanded="false">
                    Try battle
                </button>
            </div>
            <div class="col-lg-6">
                <a class="btn btn-default btn-block" style="margin-bottom: 5px" ui-sref="challenge-taker({challengeId: challenge.id})">Bring it on</a>
            </div>
            <div class="col-lg-6">
            </div>
            <div class="col-lg-6">
                <button class="btn btn-default btn-block" ng-click="response()">Response</button>
            </div>
        </div>



    </div>
</div>