<div class="panel panel-default">
    <div class="panel-heading">
        Challenge Preview
        <div class="pull-right text-right">
            <g-plusone align="right" callback="plusone(jsonParam)" href="#/challenge-take/{{challenge.id}}"></g-plusone>
        </div>
    </div>
    <div class="panel-body">
        <div battlefield="game" scale="0.7"></div>

        <div class="row">
            <div class="col-lg-4 text-right"><label class="control-label">Enemy Bot:</label></div>
            <div class="col-lg-8" ng-bind="::challenge.challengeSetup.sides[1].bot.name"></div>
        </div>

        <div class="row">
            <label class="col-lg-4 text-right">Conditions:</label>
            <div class="col-lg-8">
                <div ng-repeat="wc in ::challenge.challengeSetup.winningConditions" ng-bind="::getDisplay(wc)"></div>
            </div>
        </div>
    </div>
    <div class="panel-footer" style="padding-bottom: 2px">
        <div class="row">
            <div class="col-lg-6" style="padding: 0 10px 0 10px; margin-bottom: 5px">
                <button class="btn btn-block btn-primary dropdown-toggle" ng-click="tryBattle()" data-toggle="dropdown" aria-expanded="false">
                    <span class="glyphicon glyphicon-fire"></span>
                    Try battle
                </button>
            </div>
            <div class="col-lg-6" style="padding: 0 10px 0 10px; margin-bottom: 5px">
                <a class="btn btn-default btn-block" style="" ui-sref="challenge-take({challengeId: challenge.id})">
                    Bring it on
                    &nbsp;
                    <span class="fa fa-hand-o-right"></span>
                </a>
            </div>
            <div class="col-lg-6" style="padding: 0 10px 0 10px; margin-bottom: 5px">

            </div>
            <div class="col-lg-6" style="padding: 0 10px 0 10px; margin-bottom: 5px">
                <button class="btn btn-default btn-block" ng-click="response()">
                    Response
                    &nbsp;
                    <span class="fa fa-envelope-o"></span>
                </button>
            </div>
        </div>



    </div>
</div>