<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading text-capitalize">
                <h4><a href="" ng-click="showCodeEditor = !showCodeEditor">Your Bot Code - {{currentBot.name}}</a></h4>
            </div>

            <div class="panel-body" ng-if="showCodeEditor">
                <bw-editor bots="bots" current-bot="currentBot" change-bot="changeBot(bot)"></bw-editor>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-6">
        <div class="form-group">
            <select class="form-control" ng-model="challenge" ng-options="c as c.name for c in challenges"></select>
        </div>

        <div class="jumbotron">
            <h2 ng-bind="jumbotron().h2" ng-class="{'text-danger': failMessage != null}"></h2>
            <p class="lead" ng-bind="jumbotron().p"></p>
        </div>

        <div ng-show="!finished">
            <p ng-repeat="msg in challenge.messages" ng-bind="::msg"></p>
        </div>
        <div ng-show="finished">
            <p ng-show="nextChallenge() == null">
                Right now we don't have any more challenges for you. Please come again later
            </p>
            <p ng-show="nextChallenge() != null">Next challenge: <a href="" ng-click="toNextChallenge()" ng-bind="nextChallenge().intro"></a></p>
        </div>

    </div>
    <div class="col-lg-6 text-center">
        <div width="500" height="500" battlefield="game" options="options"></div>
        <button class="btn btn-sm"
                ng-class="options.consume == 3 ? 'btn-primary' : 'btn-default'"
                ng-click="options.consume = options.consume == 3 ? null : 3"><span class="glyphicon glyphicon-forward"></span></button>
    </div>
</div>


<div class="row">
    <div class="col-lg-12 text-center">
        <div style="width: 400px; display: inline-block">
            <div class="input-group input-group-lg" >
                <div class="input-group-btn">
                    <button class="btn btn-primary" ng-click="startGame()">Start Fight using bot: </button>
                </div>

                <select class="form-control" ng-model="currentBot" ng-options="b as b.name for b in bots"></select>
            </div>
        </div>

    </div>
</div>
