<div class="row">
    <div class="col-lg-12">
        <div class="text-right">
            <button class="btn btn-lg btn-default" ng-click="$state.go('create-challenge')">
                <span class="glyphicon glyphicon-plus"></span>
                Create Challenge</button>
        </div>
    </div>
</div>

        <br/>
        <br/>
<div class="row">
    <div class="col-lg-8">

        <div class="list-group challenge-list">
            <a class="list-group-item" ng-click="view.focused = challenge" ng-class="view.focused == challenge ? 'active' : ''" ng-repeat="challenge in challenges" challenge-row>
                <div class="row">
                    <h4 class="list-group-item-heading col-lg-8" ng-bind="::challenge.title" ></h4>
                    <div class="col-lg-4 has-button">
                        <div ng-if="isMine()">
                            <div class="text-right text-muted on-out" ng-bind="::challenge.fromName"></div>
                            <div class="text-right on-hover">
                                <button class="btn btn-sm btn-danger" ng-click="deleteChallenge()">
                                    <span class="glyphicon glyphicon-trash"></span>
                                    Delete</button>
                            </div>
                        </div>
                        <div ng-if="!isMine()">
                            <div class="text-right text-muted" ng-bind="::challenge.fromName"></div>
                        </div>
                    </div>
                    <p class="list-group-item-text col-lg-8" ng-bind="::challenge.description" ng-click="view.focused = challenge"></p>
                </div>
            </a>
        </div>
    </div>

    <div class="col-lg-4">
        <challenge-preview ng-if="view.focused != null" challenge="view.focused"></challenge-preview>
    </div>
</div>